*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --screen-sm: 480px;
  --screen-md: 960px;
  --screen-lg: 1200px;

  --color-bg: #141414;
  --color-fg: #1f1f1f;
  --color-text: #e9e9e9;
  --color-title: #f5f5f5;
  --color-text-secondary: #838371;
  --color-link: #005be4;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffe1;
    --color-fg: #f5f5d5;
    --color-text: #141414;
    --color-title: #0c0c0c;
  }
}

body {
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Freeman", sans-serif;
  font-weight: 200;
  font-style: normal;
}

a,
a:visited {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul > li {
  list-style-position: inside;
}

body > header,
body > main,
body > footer {
  display: flex;
  flex-direction: column;
  max-width: var(--screen-lg);
  margin: 0 auto;
}

body > header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1.5rem;
}

body > main {
  gap: 1rem;
  margin-bottom: 1rem;
}

body > footer {
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid var(--color-fg);
  color: var(--color-text-secondary);
}

main.projects {
  display: grid;
  grid-template-columns: 1;
  margin-bottom: 1rem;
}

ul.links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  list-style-type: none;
}

ul.links > li:not(:last-child):after {
  color: var(--color-text-secondary);
  content: "/";
  margin: 0 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--color-fg);
  padding: 1rem 1.5rem;
}

.card > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.card > h2 {
  font-size: 1.25rem;
}

.card > h2:not(:first-child) {
  margin-top: 1.5rem;
}

.card > p {
  color: var(--color-text-secondary);
  flex: 1;
  text-align: justify;
  text-justify: inter-word;
}

.card > img {
  width: 100%;
  height: auto;
}

.card > footer {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}

.technologies {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  gap: 0.5rem;
}

ul.technologies {
  list-style-type: none;
}

.technologies li > * {
  display: flex;
}

.technologies img {
  height: 1.5rem;
  min-width: 1.5rem;
}

*[title] {
  text-decoration: dotted underline;
}

/* Mobile */
@media screen and (min-width: 480px) {
  main.projects {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  main.news > .card > h2 {
    margin-right: 1rem;
  }
}

/* Tablet Landscape*/
@media screen and (min-width: 960px) {
  main.projects {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  main.news {
    flex-direction: column;
  }

  main.news > .card {
    flex-direction: row;
  }
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .card > footer {
    flex-direction: row;
  }

  .technologies {
    justify-content: flex-end;
  }
}
