*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --screen-sm: 480px;
  --screen-md: 960px;
  --screen-lg: 1200px;

  --color-bg: #141414;
  --color-fg: #1f1f1f;
  --color-text: #e9e9e9;
  --color-title: #f5f5f5;
  --color-text-secondary: #838371;
  --color-link: #005be4;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #ffffe1;
    --color-fg: #f5f5d5;
    --color-text: #141414;
    --color-title: #0c0c0c;
  }
}

body {
  font-family: "Noto Sans Display Variable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Freeman", sans-serif;
  font-weight: 200;
  font-style: normal;
}

a,
a:visited {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul > li {
  list-style-position: inside;
}

body > header,
body > main,
body > footer {
  display: flex;
  flex-direction: column;
  max-width: var(--screen-lg);
  margin: 0 auto;
}

body > header {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1.5rem;
}

body > main {
  gap: 1rem;
  margin-bottom: 1rem;
}

body > footer {
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 1px solid var(--color-fg);
  color: var(--color-text-secondary);
}

*[title] {
  text-decoration: dotted underline;
}

ul.links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  list-style-type: none;
}

ul.links > li:not(:last-child):after {
  color: var(--color-text-secondary);
  content: "/";
  margin: 0 0.5rem;
}

/* Desktop */
@media screen and (min-width: 1200px) {
  .technologies {
    justify-content: flex-end;
  }
}
