---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
  <main>
    <Card title="Page not found!">
      <span slot="description">The requested page is not available.</span>
    </Card>
  </main>
</Layout>
