---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="news">
  <main>
    <Card title="August 4th, 2025">
      <span slot="description"
        >This site is now built using Astro which makes the code a little less
        redundant and easier to follow.</span
      >
    </Card>
    <Card title="May 22nd, 2024">
      <span slot="description">
        I finally got around to updating this website. It now has a blog
        section, a projects page, and an about page. I may add more in the
        future, but this is at least an upgrade from how it looked before. It
        even has dark mode, which you can enable in your browser settings by
        changing your preferred color scheme.
      </span>
    </Card>
  </main>
</Layout>

<style>
  /* Mobile */
  @media screen and (min-width: 480px) {
    main > .card > h2 {
      margin-right: 1rem;
    }
  }

  /* Tablet Landscape */
  @media screen and (min-width: 960px) {
    main {
      flex-direction: column;
    }

    main > .card {
      flex-direction: row;
    }
  }
</style>
