---
interface Props {
  title?: string;
  description?: string;
}

const { title } = Astro.props;
---

<section class="card">
  <h2>{title}</h2>
  <p><slot name="description" /></p>
  <div class="media">
    <slot name="media" />
  </div>
  <slot name="footer" />
</section>

<style>
  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-fg);
    padding: 1rem 1.5rem;
  }

  .card > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  .card > h2 {
    font-size: 1.25rem;
  }

  .card > h2:not(:first-child) {
    margin-top: 1.5rem;
  }

  .card > p {
    color: var(--color-text-secondary);
    flex: 1;
    text-align: justify;
    text-justify: inter-word;
  }

  .media :global(img) {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
  }
</style>
