---
import "../styles/global.css";
import "@fontsource/freeman";
import "@fontsource-variable/noto-sans-display";

const { title } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `collinb.me | ${title}` : "collinb.me"}</title>
  </head>
  <body>
    <header>
      <h1>collinb.me</h1>
      <nav>
        <ul class="links">
          <li>{currentPath === "/" ? "projects" : <a href="/">projects</a>}</li>
          <li>{currentPath === "/news" ? "news" : <a href="/news">news</a>}</li>
          <li>
            {currentPath === "/about" ? "about" : <a href="/about">about</a>}
          </li>
        </ul>
      </nav>
    </header>
    <slot />
    <footer>
      <p>
        &copy;
        {new Date().getFullYear()}
      </p>
    </footer>
  </body>
</html>
